.city_holder {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}
.city_info {
    display: flex;
    flex-direction: row;
}
.city_info div {
    width: 50%;
}
.home_link {
    padding: 5px 30px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    width: 180px;
    margin: 30px auto;
}
.to_right {
    align-self: flex-end;
}
.to_right button {
    padding: 5px 20px;
    border: 2px solid #000;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}
.to_right button.selected_button {
    color: #fff;
    background-color: #000;
}
canvas {
    margin: 10px 0;
}
app-cities {
    border: 2px solid #000;
    margin-top: 10px;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
table, td, th {
    border: 1px solid black;
    text-align: center;
}
table {
    margin: 10px 0;
    border-collapse: collapse;
}

@media all and (max-width: 500px) {
    .city_info {
        flex-direction: column;
    }
}